---
import Logo from "./Logo.astro";
---

<header class="fixed w-screen py-4 z-10 backdrop-blur-[10px] top-0 px-8 lg:px-0">
  <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
    <a class="col-span-1" href="/" >
      <Logo class="w-12 -mt-[5px]">
    </a>
    <nav class="col-span-1 justify-self-center">
      <ul class="flex gap-4">
        <li>Info</li>
        <li>Archivo</li>
      </ul>
    </nav>
    <a class={`border rounded-full inline-block border-white px-4 py-2
        justify-self-end hover:bg-white hover:text-black duration-500`} 
      href="/"
    >
      ESLAND - Documental
    </a>
  </div>
</header>